.bn {
  display:flex;
  margin-top:166px;
  align-items: center;
  justify-content: center;


}
.yzm
{
  width: 260px;
  height: 0.95rem ;

  background: #fff;

  borderBottom:1px solid #ddd;
  borderLeft:1px solid #ddd;
}